<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/orderRecords.css" />
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
    <script src="javascripts/fetch.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <a href="/index">首頁</a>
      <a href="/cart" class="orderRecords">購物車</a>
    </div>
    <% if(orderRecords){%> <%orderRecords.reverse().forEach((order) => {%>
    <div class="container" id="<%=order.id%>">
      <div class="content">
        <div class="dishCount">
          <span>總共<%=order.totalQuantity%>份餐點</span>
          <span class="amount"><%=order.amount%>元</span>
          <span class="date">
            <%if(order.expiration===true){%>
            <%=order.date.toLocaleString(undefined, { year: 'numeric', month:
            '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' })%>
            <%}else{if(order.expirationTime-currentTime<=0){%>餐點即將完成
            <%}else{let remainingTimeInMinutes =
            Math.floor((order.expirationTime - currentTime) / 60000); %>
            餐點製作還剩: <%=remainingTimeInMinutes%> 分鐘 <%}}%>
          </span>
        </div>
        <%order.foods.forEach((food) => {%>
        <div class="foods">
          <span class="portions"><%=food.quantity%></span>
          <span class="foodName"><%=food.name%></span>
        </div>
        <%});%>
      </div>
    </div>
    <%});}%>
  </body>
  <script>
    let Url = `<%=Url%>`;
    const socket = io(Url);
    getFetch(`${Url}/fetch/clientSid`)
      .then((data) => {
        socket.emit("clientSid", data.sid);
      })
      .catch((err) => {
        console.log(err);
      });

    socket.on("modifyClientOrderExpiration", () => {
      location.reload();
    });
  </script>
</html>
