<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/storestyle.css" />
    <script src="/javascripts/fetch.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="topbar">
      <div class="container">
        <span>OrderEase</span>
        <div class="rightside">
          <ul>
            <li><a href="/store/orderRecord">歷史訂單</a></li>
            <li><a href="/store/pendingOrder">訂單處理</a></li>
            <li><a href="/Records">我的訂單</a></li>
            <li><a href="/cart">購物車</a></li>
            <li><a href="/logout" id="logout">登出</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="ob">
        <img src="/images/image.png" alt="" class="foodimg" />
        <span class="foodname">Salad</span>
        <span><%=salad[1]%> $</span>
        <div class="quantity-container">
          <button class="decrementbtn" id="decrementbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </button>
          <span class="foodnum"><%=salad[0]%></span>
          <button class="addbtn" id="addbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="ob">
        <img src="/images/steak.png" alt="" class="foodimg" />
        <span class="foodname">Steak</span>
        <span><%=steak[1]%> $</span>
        <div class="quantity-container">
          <button class="decrementbtn" id="decrementbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </button>
          <span class="foodnum"><%=steak[0]%></span>
          <button class="addbtn" id="addbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="ob">
        <img src="/images/salmon.png" alt="" class="foodimg" />
        <span class="foodname">Salmon</span>
        <span><%=salmon[1]%> $</span>
        <div class="quantity-container">
          <button class="decrementbtn" id="decrementbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"
              />
            </svg>
          </button>
          <span class="foodnum"><%=salmon[0]%></span>
          <button class="addbtn" id="addbtn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1em"
              viewBox="0 0 448 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </body>
  <script>
    let addbtn = document.getElementsByClassName("addbtn");
    let decrementbtn = document.getElementsByClassName("decrementbtn");
    let num = document.getElementsByClassName("foodnum");
    let logout = document.getElementById("logout");
    let foods = ["salad", "steak", "salmon"];
    let Url = `<%=Url%>`;

    for (let i = 0; i < addbtn.length; i++) {
      addbtn[i].addEventListener("click", () => {
        patchData(`${Url}/fetch/index`, { [foods[i]]: 1 })
          .then((data) => (num[i].innerHTML = data[foods[i]][0])) // JSON from `response.json()` call
          .catch((error) => console.log(error));
      });
    }

    for (let i = 0; i < addbtn.length; i++) {
      decrementbtn[i].addEventListener("click", () => {
        patchData(`${Url}/fetch/index`, { [foods[i]]: -1 })
          .then((data) => (num[i].innerHTML = data[foods[i]][0])) // JSON from `response.json()` call
          .catch((error) => console.log(error));
      });
    }
  </script>
</html>
