<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/orderRecords.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav">
      <a href="/store/index">首頁</a>
      <a href="/store/pendingOrder" class="orderRecords">處理訂單</a>
    </div>
    <div class="topbar">歷史訂單</div>
    <% if(completedOrders){%> <%completedOrders.reverse().forEach((order) => {%>
    <div class="container">
      <div class="content">
        <div class="dishCount">
          <span>總共<%=order.totalQuantity%>份餐點</span>
          <span class="amount"><%=order.amount%>元</span>
          <span class="date">
            <%if(order.expiration===true){%>
            <%=order.date.toLocaleString(undefined, { year: 'numeric', month:
            '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' })%>
            <%}else{if(order.expirationTime-currentTime<=0){%>餐點已完成
            <%}else{let remainingTimeInMinutes =
            Math.floor((order.expirationTime - currentTime) / 60000); %>
            餐點製作還剩: <%=remainingTimeInMinutes%> 分鐘 <%}}%>
          </span>
        </div>
        <%order.foods.forEach((food) => {%>
        <div class="foods">
          <span class="portions"><%=food.quantity%></span>
          <span class="foodName"><%=food.foodsName%></span>
        </div>
        <%});%>
      </div>
      <%if(order.expiration!==true){%>
      <button class="submit">訂單完成</button>
      <%}%>
    </div>
    <%});}%>
  </body>
  <script></script>
</html>
